.model {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 50ms ease-in;
  border: 0.0625rem solid #dfe1e6;
  border-radius: 1.25rem;
  background-color: #fff;
  padding: 1.0625rem;
  z-index: 10;
  width: 350px;
  max-width: 80%;
  font-family: 'poppins', sans-serif;
  font-size: 10px;
}

.model .btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.125rem;
  justify-content: center;
}

.model-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 100%;
}

.model-headline {
  display: flex;
  justify-content: space-between;
}

.model-headline button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #67798e;
}

.model-headline h2 {
  padding: 0.625rem;
  font-size: 17px;
}

.button-list {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.button-list li {
  margin: 0.3125rem;
}

.button-list li a {
  font-size: 10px;
}

.mobile-banners-model {
  display: none;
}

.dogWater {
  text-decoration: none;
  color: white;
  font-size: 0.0625rem;
}

.model button {
  padding: 0.3125rem;
  font-size: 15px;
}

.ban-logo {
  padding-left: 5px;
  font-size: 20px;
}

.model .close-button {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 0.3125rem;
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  color: #6070ff;
  width: 50px;
  height: 50px;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(149 157 233 / 50%);
  backdrop-filter: blur(6px);
  z-index: 1;
}

@media (min-width: 48rem) {
  .model {
    margin: 0 auto;
    width: 1200px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 0.9375rem;
    height: 90vh;
  }

  .mobile-banners-model {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .work-banners-model {
    display: none;
  }

  .parlist {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: space-between;
  }

  .lister {
    min-width: 30%;
  }

  .model-container {
    width: 100%;
    height: 100%;
  }

  .image-overflow {
    overflow: scroll;
    height: 50vh;
    margin-bottom: 1.25rem;
  }
}
