* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background: #f7f7f9;
}

main {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

nav {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 10px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mob-menu {
  margin: 0;
}

.mob-menu img {
  height: 35px;
  width: 35px;
}

.my-logo {
  font-family: "Poppins", sans-serif;
  color: hsl(234, 100%, 69%);
  height: 29px;
  width: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  font-weight: 750;
}

.banner {
  background-color: #fff;
  padding: 150px 5px;
  background-image: url(Images&Icons/header-shapes.svg);
  flex-direction: column;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 70px;
  margin-bottom: 100px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.intro-text h1 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 760;
  line-height: 52px;
  color: #172b4d;
  text-align: left;
  padding: 10px;
}

.intro-text p {
  border: 1;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #344563;
  text-align: left;
  padding: 10px;
}

.contact {
  margin-bottom: 30px;
}

.connect {
  padding-left: 6px;
  margin: 20px 0;
}

.contact a {
  padding-top: 30px;
  color: #7f8cff;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.contact ul {
  list-style-type: none;
  display: flex;
  padding: 30px 0;
}

.icons img {
  padding-left: 20px;
  left: 24px;
  top: 470px;
}

.icons:hover {
  background-color: aquamarine;
}

.icons::before {
  background-color: bisque;
}

.works {
  padding: 30px;
}

.Projects {
  display: flex;
  margin: 40px 0;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

h2 {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding: 20px 0;
}

.desc-list ul {
  gap: 12px;
  display: flex;
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.desc-list li {
  list-style-type: none;
}

.Projects p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.button-list ul {
  gap: 10px;
  justify-content: start;
  display: flex;
}

.button-list li {
  background-color: #ebebff;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  font-weight: 500;
  font-size: 12px;
  border-radius: 11%;
}

.button-list li a {
  text-decoration: none;
  color: #6070ff;
}

.btn button {
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #396df2;
  color: #396df2;
  display: flex;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 10px;
}

.contact button {
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #396df2;
  color: #396df2;
  display: flex;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 10px;
}

.contact button:hover {
  background-color: #ebebff;
}

.About {
  display: flex;
  padding: 10px;
  flex-direction: column;
  padding-top: 30px;
  border-radius: 0 80px 0 0;
  background-color: #fff;
}

.containerr {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.languages {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 100px 0;
}

hr {
  border: 1px solid #e3e5e9;
}

.bio {
  display: flex;
  flex-direction: row;
  color: #253858;
  background-color: #f7f7f9;
  margin: 5px 0;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.bio li {
  display: flex;
}

.bio span {
  padding: 20px 0 0 15px;
}

.bio ul {
  padding: 0;
}

.tar {
  display: flex;
  justify-content: space-between;
}

.tar li {
  padding: 20px 0;
}

.contact-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: white;
  background: url(Images&Icons/contact-me-back.svg) no-repeat;
  background-size: cover;
  margin: -100px 0 0 0;
  padding: 114px 24px 0 24px;
}

.contact-me h1 {
  color: white;
}

.contact-me p {
  font-size: 20px;
  line-height: 28px;
}

input[id="fname"],
select {
  width: 100%;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

textarea[id="msg"],
select {
  width: 100%;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

input[type="email"],
select {
  width: 100%;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

input[type="submit"] {
  float: left;
  width: fit-content;
  height: 48px;
  color: #6070ff;
  margin: 10px 0 40px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
  background-color: #fff;
}

input[type="submit"]:hover {
  background-color: #fefe50;
}

.inputt {
  padding-bottom: 20px;
}

.inputt > input {
  padding: 0 12px;
}
